/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/spec/dummy/node_modules
/spec/dummy/app/assets/builds/*.js
/spec/dummy/app/assets/builds/*.js.map
/spec/dummy/app/assets/builds/*.css
/spec/app/assets/builds
/node_modules
spec/dummy/ink_components.tailwind.config.js
dist
.idea
