<label class="inline-flex items-center me-5 cursor-pointer">
  <%= tag.input type:"checkbox", class: "sr-only peer", **attributes %>
  <%= content_tag :div, nil, class: style(:div, size:, color:) %>
  <%= content_tag :span, text, class: style(:span, disabled:) if text.present? %>
</label>